{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}prjSWS01{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'memberMng:index' %}">Home</a>
            <a href="{% url 'memberMng:members' %}">メンバー管理</a>
            <a href="#">ログイン</a>
            <a href="#">QA</a>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>